openapi: 3.0.0
info:
  description: |
    [https://ipinfo.io](https://ipinfo.io).
  version: "1.0.0"
  title: ipinfo.io
  contact:
    email: havendv@gmail.com
  license:
    name: Apache 2.0
    url: 'https://github.com/ipinfo/csharp/blob/master/LICENSE'
    
servers:
  - url: 'https://ipinfo.io/'
  
tags:
  - name: free
    description: Free API.
    externalDocs:
      description: Find out more
      url: 'https://ipinfo.io/'
      
paths:
  /:
    get:
      tags:
        - free
      summary: Get an ip information for the current IP.
      description: Returns a full info.
      operationId: getCurrentIpInfo
      responses:
        '200':
          $ref: '#/components/responses/FullResponse'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}':
    get:
      tags:
        - free
      summary: Get an ip information for the selected IP.
      description: Returns a full info.
      operationId: getIpInfoByIp
      parameters:
        - $ref: '#/components/parameters/ipParam'
            
      responses:
        '200':
          $ref: '#/components/schemas/FullResponse'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/city':
    get:
      tags:
        - free
      summary: Get a city for the current IP.
      description: Returns a city for the current IP.
      operationId: getCurrentCity
            
      responses:
        '200':
          $ref: '#/components/responses/City'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/city':
    get:
      tags:
        - free
      summary: Get a city for the selected IP.
      description: Returns a city for the selected IP.
      operationId: getCityByIp
      parameters:
        - $ref: '#/components/parameters/ipParam'
            
      responses:
        '200':
          $ref: '#/components/responses/City'
          
        '404':
          $ref: '#/components/responses/NotFound'
        
        
externalDocs:
  description: Find out more about ipinfo.io
  url: 'https://ipinfo.io/developers'
  
  
components:
  schemas:
    FullResponse:
      type: object
      required:
        - ip
        - city
        - region
        - country
        - loc
        - postal
        - timezone
        
      properties:
        ip:
          type: string
          example: '66.87.125.72'
          
        hostname:
          type: string
          example: 'ip-66-87-125-72.spfdma.spcsdns.net'
          
        city:
          type: string
          example: 'Springfield'
          
        region:
          type: string
          example: 'Massachusetts'
          
        country:
          type: string
          example: 'US'
          
        loc:
          type: string
          example: '42.0999,-72.5783'
          
        postal:
          type: string
          example: '01105'
          
        timezone:
          type: string
          example: 'America/New_York'
          
        org:
          type: string
          example: 'AS51501 Khabarovsk home networks Ltd'
          
        asn:
          $ref: '#/components/schemas/Asn'
          
        company:
          $ref: '#/components/schemas/Company'
          
        carrier:
          $ref: '#/components/schemas/Carrier'
          
        privacy:
          $ref: '#/components/schemas/Privacy'
        
    Asn:
      type: object
      required:
        - asn
        - name
        - domain
        - route
        - type
        
      properties:
        asn:
          type: string
          example: 'AS10507'
          
        name:
          type: string
          example: 'Sprint Personal Communications Systems'
          
        domain:
          type: string
          example: 'sprint.net'
          
        route:
          type: string
          example: '66.87.125.0/24'
          
        type:
          type: string
          example: 'isp'
          enum:
            - isp
            - business
            - education
            - hosting
        
    Company:
      type: object
      required:
        - name
        - domain
        - type
        
      properties:
        name:
          type: string
          example: 'Sprint Springfield POP'
          
        domain:
          type: string
          example: 'sprint.com'
          
        type:
          type: string
          example: 'isp'
          enum:
            - isp
            - business
            - education
            - hosting
        
    Carrier:
      type: object
      required:
        - name
        - mcc
        - mnc
        
      properties:
        name:
          type: string
          example: 'Sprint Corporation'
          
        mcc:
          type: string
          example: '310'
          
        mnc:
          type: string
          example: '120'
        
    Privacy:
      type: object
      required:
        - vpn
        - proxy
        - tor
        - hosting
        
      properties:
        vpn:
          type: boolean
          example: true
          
        proxy:
          type: boolean
          example: false
          
        tor:
          type: boolean
          example: false
          
        hosting:
          type: boolean
          example: false
          
    Error:
      type: object
      required:
        - error
        
      properties:
        error:
          type: object
          required:
            - title
            - message
            
          properties:
            title:
              type: string
              example: 'Wrong ip'
              
            message:
              type: string
              example: 'Please provide a valid IP address'
    
    
  parameters:
    ipParam:
      name: ip
      in: path
      description: A single IPv4 or IPv6 IP address.
      required: true
      schema:
        type: string
      
      
  responses:
    FullResponse:
      description: Full response object.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FullResponse'
      
    City:
      description: A city.
      content:
        text/plain:
          schema:
            type: string
            example: Springfield
      
    NotFound:
      description: Wrong ip. Please provide a valid IP address.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      
      
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header