openapi: 3.0.0
info:
  description: |
    [https://ipinfo.io](https://ipinfo.io).
  version: "1.0.0"
  title: ipinfo.io
  contact:
    email: havendv@gmail.com
  license:
    name: Apache 2.0
    url: 'https://github.com/ipinfo/csharp/blob/master/LICENSE'
    
servers:
  - url: 'https://ipinfo.io/'
  
tags:
  - name: general
    description: General API.
      
  - name: single
    description: Single info API.
      
  - name: privacy detection
    description: Privacy Detection API.
    externalDocs:
      description: Find more info here
      url: https://ipinfo.io/developers/privacy
      
paths:
  /:
    get:
      tags:
        - general
      summary: Returns information about the current IP.
      description: Returns information about the current IP.
      operationId: getCurrentInformation
      responses:
        '200':
          $ref: '#/components/responses/FullResponse'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  /batch:
    post:
      tags:
        - general
      summary: Returns information about the selected values.
      description: Returns information about the selected values.
      operationId: batch
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
      
      requestBody:
        $ref: '#/components/requestBodies/Batch'
        
      responses:
        '200':
          $ref: '#/components/responses/Batch'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}':
    get:
      tags:
        - general
      summary: Returns information about the selected IP.
      description: Returns information about the selected IP.
      operationId: getInformationByIp
      parameters:
        - $ref: '#/components/parameters/ipParam'
            
      responses:
        '200':
          $ref: '#/components/responses/FullResponse'
          
        '404':
          $ref: '#/components/responses/NotFound'
          
    
  '/{ip}/privacy':
    get:
      tags:
        - privacy detection
      summary: Returns privacy information about the selected IP.
      description: Returns privacy information about the selected IP.
      operationId: getPrivacyInformationByIp
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/ipParam'
            
      responses:
        '200':
          $ref: '#/components/responses/Privacy'
          
        '400':
          $ref: '#/components/responses/TokenNotPassed'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/ip':
    get:
      tags:
        - single
      summary: Returns the current IP.
      description: Returns the current IP.
      operationId: getCurrentIp
            
      responses:
        '200':
          $ref: '#/components/responses/Ip'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/ip':
    get:
      tags:
        - single
      summary: Returns a ip for the selected IP. Yes, I know this is a pointless method.
      description: Returns a ip for the selected IP. Yes, I know this is a pointless method.
      operationId: getIpByIp
      parameters:
        - $ref: '#/components/parameters/ipParam'
            
      responses:
        '200':
          $ref: '#/components/responses/Ip'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/hostname':
    get:
      tags:
        - single
      summary: Returns the current hostname.
      description: Returns the current hostname.
      operationId: getCurrentHostname
            
      responses:
        '200':
          $ref: '#/components/responses/Hostname'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/hostname':
    get:
      tags:
        - single
      summary: Returns a hostname for the selected IP.
      description: Returns a hostname for the selected IP.
      operationId: getHostnameByIp
      parameters:
        - $ref: '#/components/parameters/ipParam'
            
      responses:
        '200':
          $ref: '#/components/responses/Hostname'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/city':
    get:
      tags:
        - single
      summary: Returns the current city.
      description: Returns the current city.
      operationId: getCurrentCity
            
      responses:
        '200':
          $ref: '#/components/responses/City'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/city':
    get:
      tags:
        - single
      summary: Returns a city for the selected IP.
      description: Returns a city for the selected IP.
      operationId: getCityByIp
      parameters:
        - $ref: '#/components/parameters/ipParam'
            
      responses:
        '200':
          $ref: '#/components/responses/City'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/region':
    get:
      tags:
        - single
      summary: Returns the current region.
      description: Returns current region.
      operationId: getCurrentRegion
            
      responses:
        '200':
          $ref: '#/components/responses/Region'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/region':
    get:
      tags:
        - single
      summary: Returns a region for the selected IP.
      description: Returns a region for the selected IP.
      operationId: getRegionByIp
      parameters:
        - $ref: '#/components/parameters/ipParam'
            
      responses:
        '200':
          $ref: '#/components/responses/Region'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/country':
    get:
      tags:
        - single
      summary: Returns the current country.
      description: Returns the current country.
      operationId: getCurrentCountry
            
      responses:
        '200':
          $ref: '#/components/responses/Country'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/country':
    get:
      tags:
        - single
      summary: Returns a country for the selected IP.
      description: Returns a country for the selected IP.
      operationId: getCountryByIp
      parameters:
        - $ref: '#/components/parameters/ipParam'
            
      responses:
        '200':
          $ref: '#/components/responses/Country'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/loc':
    get:
      tags:
        - single
      summary: Returns the current location.
      description: Returns the current location.
      operationId: getCurrentLocation
            
      responses:
        '200':
          $ref: '#/components/responses/Location'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/loc':
    get:
      tags:
        - single
      summary: Get a location for the selected IP.
      description: Returns a location for the selected IP.
      operationId: getLocationByIp
      parameters:
        - $ref: '#/components/parameters/ipParam'
            
      responses:
        '200':
          $ref: '#/components/responses/Location'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/postal':
    get:
      tags:
        - single
      summary: Returns the current postal.
      description: Returns the current postal.
      operationId: getCurrentPostal
            
      responses:
        '200':
          $ref: '#/components/responses/Postal'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/postal':
    get:
      tags:
        - single
      summary: Returns a postal for the selected IP.
      description: Returns a postal for the selected IP.
      operationId: getPostalByIp
      parameters:
        - $ref: '#/components/parameters/ipParam'
            
      responses:
        '200':
          $ref: '#/components/responses/Postal'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/timezone':
    get:
      tags:
        - single
      summary: Returns the current timezone.
      description: Returns the current timezone.
      operationId: getCurrentTimezone
            
      responses:
        '200':
          $ref: '#/components/responses/Timezone'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/timezone':
    get:
      tags:
        - single
      summary: Returns a timezone for the selected IP.
      description: Returns a timezone for the selected IP.
      operationId: getTimezoneByIp
      parameters:
        - $ref: '#/components/parameters/ipParam'
            
      responses:
        '200':
          $ref: '#/components/responses/Timezone'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/org':
    get:
      tags:
        - single
      summary: Returns the current organization.
      description: Returns the current organization.
      operationId: getCurrentOrganization
            
      responses:
        '200':
          $ref: '#/components/responses/Organization'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/org':
    get:
      tags:
        - single
      summary: Returns a organization for the selected IP.
      description: Returns a organization for the selected IP.
      operationId: getOrganizationByIp
      parameters:
        - $ref: '#/components/parameters/ipParam'
            
      responses:
        '200':
          $ref: '#/components/responses/Organization'
          
        '404':
          $ref: '#/components/responses/NotFound'
        
        
externalDocs:
  description: Find out more about ipinfo.io
  url: 'https://ipinfo.io/developers'
  
  
components:
  schemas:
    FullResponse:
      type: object
      required:
        - ip
        - city
        - region
        - country
        - loc
        - postal
        - timezone
        
      properties:
        ip:
          type: string
          example: '66.87.125.72'
          
        hostname:
          type: string
          example: 'ip-66-87-125-72.spfdma.spcsdns.net'
          
        city:
          type: string
          example: 'Springfield'
          
        region:
          type: string
          example: 'Massachusetts'
          
        country:
          type: string
          example: 'US'
          
        loc:
          type: string
          example: '42.0999,-72.5783'
          
        postal:
          type: string
          example: '01105'
          
        timezone:
          type: string
          example: 'America/New_York'
          
        org:
          type: string
          example: 'AS51501 Khabarovsk home networks Ltd'
          
        asn:
          $ref: '#/components/schemas/Asn'
          
        company:
          $ref: '#/components/schemas/Company'
          
        carrier:
          $ref: '#/components/schemas/Carrier'
          
        privacy:
          $ref: '#/components/schemas/Privacy'
        
    Asn:
      type: object
      required:
        - asn
        - name
        - domain
        - route
        - type
        
      properties:
        asn:
          type: string
          example: 'AS10507'
          
        name:
          type: string
          example: 'Sprint Personal Communications Systems'
          
        domain:
          type: string
          example: 'sprint.net'
          
        route:
          type: string
          example: '66.87.125.0/24'
          
        type:
          type: string
          example: 'isp'
          enum:
            - isp
            - business
            - education
            - hosting
        
    Company:
      type: object
      required:
        - name
        - domain
        - type
        
      properties:
        name:
          type: string
          example: 'Sprint Springfield POP'
          
        domain:
          type: string
          example: 'sprint.com'
          
        type:
          type: string
          example: 'isp'
          enum:
            - isp
            - business
            - education
            - hosting
        
    Carrier:
      type: object
      required:
        - name
        - mcc
        - mnc
        
      properties:
        name:
          type: string
          example: 'Sprint Corporation'
          
        mcc:
          type: string
          example: '310'
          
        mnc:
          type: string
          example: '120'
        
    Privacy:
      type: object
      required:
        - vpn
        - proxy
        - tor
        - hosting
        
      properties:
        vpn:
          type: boolean
          example: true
          
        proxy:
          type: boolean
          example: false
          
        tor:
          type: boolean
          example: false
          
        hosting:
          type: boolean
          example: false
          
    Error:
      type: object
      required:
        - error
        
      properties:
        error:
          type: object
          required:
            - title
            - message
            
          properties:
            title:
              type: string
              example: 'Wrong ip'
              
            message:
              type: string
              example: 'Please provide a valid IP address'
    
  requestBodies:
    Batch:
      description: A JSON array containing values.
      required: true
      content:
        application/json:
          schema:
            type: array
            items:
              type: string
    
  parameters:
    ipParam:
      name: ip
      in: path
      description: A single IPv4 or IPv6 IP address.
      required: true
      schema:
        type: string
      
      
  responses:
    FullResponse:
      description: Full response object.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FullResponse'
            
    Privacy:
      description: Privacy response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Privacy'
            
    Batch:
      description: Batch response object.
      content:
        application/json:
          schema:
            type: object
            additionalProperties:
              type: object
              
            example:
              8.8.8.8/city: Mountain View
              8.8.8.8:
                ip: 8.8.8.8
                hostname: dns.google
                city: Mountain View
                region: California
                country: US
                loc: 37.4056,-122.0775
                org: AS15169 Google LLC
                postal: 94043
                timezone: America/Los_Angeles
                
      
    Ip:
      description: An ip.
      content:
        text/plain:
          schema:
            type: string
            example: '66.87.125.72'
      
    Hostname:
      description: A hostname.
      content:
        text/plain:
          schema:
            type: string
            example: 'ip-66-87-125-72.spfdma.spcsdns.net'
      
    City:
      description: A city.
      content:
        text/plain:
          schema:
            type: string
            example: 'Springfield'
      
    Region:
      description: A region.
      content:
        text/plain:
          schema:
            type: string
            example: 'Massachusetts'
      
    Country:
      description: A country.
      content:
        text/plain:
          schema:
            type: string
            example: 'US'
            
    Location:
      description: A location.
      content:
        text/plain:
          schema:
            type: string
            example: '42.0999,-72.5783'
            
    Postal:
      description: A postal.
      content:
        text/plain:
          schema:
            type: string
            example: '01105'
            
    Timezone:
      description: A timezone.
      content:
        text/plain:
          schema:
            type: string
            example: 'America/New_York'
            
    Organization:
      description: A organization.
      content:
        text/plain:
          schema:
            type: string
            example: 'AS51501 Khabarovsk home networks Ltd'
    
    TokenNotPassed:
      description: Token not passed. Please pass a valid token to access this module.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    NotFound:
      description: Wrong ip. Please provide a valid IP address.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
            
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      
    BearerAuth:
      type: http
      scheme: bearer
      
    ApiKeyAuth:
      type: apiKey
      in: query
      name: token