openapi: 3.0.0
info:
  description: |
    [https://ipinfo.io](https://ipinfo.io).
  version: "1.0.0"
  title: ipinfo.io
  contact:
    email: havendv@gmail.com
  license:
    name: Apache 2.0
    url: 'https://github.com/ipinfo/csharp/blob/master/LICENSE'
    
servers:
  - url: 'https://ipinfo.io/'
  
tags:
  - name: general
    description: General API.
      
  - name: single
    description: Single info API.
      
  - name: privacy detection
    description: Privacy Detection API.
    externalDocs:
      description: Find more info here
      url: https://ipinfo.io/developers/privacy
      
  - name: asn
    description: ASN API.
    externalDocs:
      description: Find more info here
      url: https://ipinfo.io/developers/asn
      
  - name: ranges
    description: IP Ranges API.
    externalDocs:
      description: Find more info here
      url: https://ipinfo.io/developers/ranges
      
  - name: domains
    description: Hosted Domains API.
    externalDocs:
      description: Find more info here
      url: https://ipinfo.io/developers/hosted-domains
      
  - name: abuse
    description: Abuse Contact API.
    externalDocs:
      description: Find more info here
      url: https://ipinfo.io/ip-abuse-contact-api
      
paths:
  /:
    get:
      tags:
        - general
      summary: Returns information about the current IP.
      description: Returns information about the current IP.
      operationId: getCurrentInformation
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
      responses:
        '200':
          $ref: '#/components/responses/FullResponse'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  /batch:
    post:
      tags:
        - general
      summary: Returns information about the selected values.
      description: Returns information about the selected values.
      operationId: batch
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
      
      requestBody:
        $ref: '#/components/requestBodies/Batch'
        
      responses:
        '200':
          $ref: '#/components/responses/Batch'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}':
    get:
      tags:
        - general
      summary: Returns information about the selected IP.
      description: Returns information about the selected IP.
      operationId: getInformationByIp
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/Ip'
            
      responses:
        '200':
          $ref: '#/components/responses/FullResponse'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/AS{asn}/json':
    get:
      tags:
        - asn
      summary: Returns information about an ASN, such as the assigned prefixes, related domain, and more.
      description: Returns information about an AS.
      operationId: getAsn
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/Asn'
            
      responses:
        '200':
          $ref: '#/components/responses/Asn'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/ranges/{domain}':
    get:
      tags:
        - ranges
      summary: Our IP address ranges API returns a list of all of the IP addresses ranges assigned to or operated by a company, identified by the provided domain name.
      description: Returns information about a domain ranges.
      operationId: getRanges
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/Domain'
            
      responses:
        '200':
          $ref: '#/components/responses/Ranges'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/domains/{ip}':
    get:
      tags:
        - domains
      summary: Our Hosted Domains, or Reverse IP API returns a list of all of the domains hosted on the provided IP address.
      description: Returns a list of all of the domains hosted on the provided IP address.
      operationId: getDomains
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/Ip'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
            
      responses:
        '200':
          $ref: '#/components/responses/Domains'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
    
  '/{ip}/abuse':
    get:
      tags:
        - abuse
      summary: Our abuse contact API returns data containing information belonging to the abuse contact of every IP address on the Internet. Fields included in this response are the abuse contact's email address, postal/ZIP code, city, state, country, name, network, and phone number. 
      description: Our abuse contact API returns data containing information belonging to the abuse contact of every IP address on the Internet. Fields included in this response are the abuse contact's email address, postal/ZIP code, city, state, country, name, network, and phone number. 
      operationId: getAbuse
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/Ip'
            
      responses:
        '200':
          $ref: '#/components/responses/Abuse'
          
        '404':
          $ref: '#/components/responses/NotFound'
          
    
  '/{ip}/privacy':
    get:
      tags:
        - privacy detection
      summary: Returns privacy information about the selected IP.
      description: Returns privacy information about the selected IP.
      operationId: getPrivacyInformationByIp
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/Ip'
            
      responses:
        '200':
          $ref: '#/components/responses/Privacy'
          
        '400':
          $ref: '#/components/responses/TokenNotPassed'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/ip':
    get:
      tags:
        - single
      summary: Returns the current IP.
      description: Returns the current IP.
      operationId: getCurrentIp
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
            
      responses:
        '200':
          $ref: '#/components/responses/Ip'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/ip':
    get:
      tags:
        - single
      summary: Returns a ip for the selected IP. Yes, I know this is a pointless method.
      description: Returns a ip for the selected IP. Yes, I know this is a pointless method.
      operationId: getIpByIp
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/Ip'
            
      responses:
        '200':
          $ref: '#/components/responses/Ip'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/hostname':
    get:
      tags:
        - single
      summary: Returns the current hostname.
      description: Returns the current hostname.
      operationId: getCurrentHostname
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
            
      responses:
        '200':
          $ref: '#/components/responses/Hostname'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/hostname':
    get:
      tags:
        - single
      summary: Returns a hostname for the selected IP.
      description: Returns a hostname for the selected IP.
      operationId: getHostnameByIp
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/Ip'
            
      responses:
        '200':
          $ref: '#/components/responses/Hostname'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/city':
    get:
      tags:
        - single
      summary: Returns the current city.
      description: Returns the current city.
      operationId: getCurrentCity
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
            
      responses:
        '200':
          $ref: '#/components/responses/City'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/city':
    get:
      tags:
        - single
      summary: Returns a city for the selected IP.
      description: Returns a city for the selected IP.
      operationId: getCityByIp
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/Ip'
            
      responses:
        '200':
          $ref: '#/components/responses/City'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/region':
    get:
      tags:
        - single
      summary: Returns the current region.
      description: Returns current region.
      operationId: getCurrentRegion
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
            
      responses:
        '200':
          $ref: '#/components/responses/Region'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/region':
    get:
      tags:
        - single
      summary: Returns a region for the selected IP.
      description: Returns a region for the selected IP.
      operationId: getRegionByIp
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/Ip'
            
      responses:
        '200':
          $ref: '#/components/responses/Region'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/country':
    get:
      tags:
        - single
      summary: Returns the current country.
      description: Returns the current country.
      operationId: getCurrentCountry
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
            
      responses:
        '200':
          $ref: '#/components/responses/Country'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/country':
    get:
      tags:
        - single
      summary: Returns a country for the selected IP.
      description: Returns a country for the selected IP.
      operationId: getCountryByIp
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/Ip'
            
      responses:
        '200':
          $ref: '#/components/responses/Country'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/loc':
    get:
      tags:
        - single
      summary: Returns the current location.
      description: Returns the current location.
      operationId: getCurrentLocation
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
            
      responses:
        '200':
          $ref: '#/components/responses/Location'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/loc':
    get:
      tags:
        - single
      summary: Get a location for the selected IP.
      description: Returns a location for the selected IP.
      operationId: getLocationByIp
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/Ip'
            
      responses:
        '200':
          $ref: '#/components/responses/Location'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/postal':
    get:
      tags:
        - single
      summary: Returns the current postal.
      description: Returns the current postal.
      operationId: getCurrentPostal
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
            
      responses:
        '200':
          $ref: '#/components/responses/Postal'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/postal':
    get:
      tags:
        - single
      summary: Returns a postal for the selected IP.
      description: Returns a postal for the selected IP.
      operationId: getPostalByIp
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/Ip'
            
      responses:
        '200':
          $ref: '#/components/responses/Postal'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/timezone':
    get:
      tags:
        - single
      summary: Returns the current timezone.
      description: Returns the current timezone.
      operationId: getCurrentTimezone
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
            
      responses:
        '200':
          $ref: '#/components/responses/Timezone'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/timezone':
    get:
      tags:
        - single
      summary: Returns a timezone for the selected IP.
      description: Returns a timezone for the selected IP.
      operationId: getTimezoneByIp
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/Ip'
            
      responses:
        '200':
          $ref: '#/components/responses/Timezone'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/org':
    get:
      tags:
        - single
      summary: Returns the current organization.
      description: Returns the current organization.
      operationId: getCurrentOrganization
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
            
      responses:
        '200':
          $ref: '#/components/responses/Organization'
          
        '404':
          $ref: '#/components/responses/NotFound'
    
  '/{ip}/org':
    get:
      tags:
        - single
      summary: Returns a organization for the selected IP.
      description: Returns a organization for the selected IP.
      operationId: getOrganizationByIp
      security:
        - BasicAuth: []
        - BearerAuth: []
        - ApiKeyAuth: []
        
      parameters:
        - $ref: '#/components/parameters/Ip'
            
      responses:
        '200':
          $ref: '#/components/responses/Organization'
          
        '404':
          $ref: '#/components/responses/NotFound'
        
        
externalDocs:
  description: Find out more about ipinfo.io
  url: 'https://ipinfo.io/developers'
  
  
components:
  schemas:
    FullResponse:
      type: object
      required:
        - ip
        
      properties:
        ip:
          type: string
          example: '66.87.125.72'

        bogon:
          type: boolean
          example: false
          
        hostname:
          type: string
          example: 'ip-66-87-125-72.spfdma.spcsdns.net'
          
        city:
          type: string
          example: 'Springfield'
          
        region:
          type: string
          example: 'Massachusetts'
          
        country:
          type: string
          example: 'US'
          
        loc:
          type: string
          example: '42.0999,-72.5783'
          
        postal:
          type: string
          example: '01105'
          
        timezone:
          type: string
          example: 'America/New_York'
          
        org:
          type: string
          example: 'AS51501 Khabarovsk home networks Ltd'
          
        asn:
          $ref: '#/components/schemas/AsnResponse'
          
        company:
          $ref: '#/components/schemas/Company'
          
        carrier:
          $ref: '#/components/schemas/Carrier'
          
        privacy:
          $ref: '#/components/schemas/PrivacyResponse'
          
        domains:
          $ref: '#/components/schemas/DomainsResponse'
        
    AsnResponse:
      type: object
      required:
        - asn
        - name
        - domain
        - type
        
      properties:
        asn:
          type: string
          example: 'AS10507'
          
        name:
          type: string
          example: 'Sprint Personal Communications Systems'
          
        country:
          type: string
          example: 'US'
          
        allocated:
          type: string
          example: '1997-02-14'
          
        registry:
          type: string
          example: 'arin'
          
        domain:
          type: string
          example: 'sprint.net'
          
        num_ips:
          type: integer
          example: 71224576
          
        route:
          type: string
          example: '66.87.125.0/24'
          
        type:
          type: string
          example: 'isp'
          enum:
            - isp
            - business
            - education
            - hosting
            - inactive
          
        prefixes:
          type: array
          items:
            $ref: '#/components/schemas/Prefix'
          
        prefixes6:
          type: array
          items:
            $ref: '#/components/schemas/Prefix6'
          
        peers:
          type: array
          items:
            type: string
            example: '1299'
          
        upstreams:
          type: array
          items:
            type: string
            example: '1299'
          
        downstreams:
          type: array
          items:
            type: string
            example: '109'
        
    Prefix:
      type: object
      required:
        - netblock
        - id
        - name
        - country
        
      properties:
        netblock:
          type: string
          example: '104.69.216.0/22'
          
        id:
          type: string
          example: 'AKAMAI'
          
        name:
          type: string
          example: 'Akamai Technologies, Inc.'
          
        country:
          type: string
          example: 'US'
          
        size:
          type: string
          example: '256'
          
        status:
          type: string
          example: 'ALLOCATION'
          
        domain:
          type: string
          nullable: true
          example: 'quadranet.com'
        
    Prefix6:
      type: object
      required:
        - netblock
        - id
        - name
        - country
        
      properties:
        netblock:
          type: string
          example: '2601::/20'
          
        id:
          type: string
          example: 'COMCAST6NET'
          
        name:
          type: string
          example: 'Comcast Cable Communications, LLC'
          
        country:
          type: string
          example: 'US'
          
        size:
          type: string
          example: '20282409603651670423947251286016'
          
        status:
          type: string
          example: 'ASSIGNMENT'
          
        domain:
          type: string
          example: 'comcast.com'
        
    RangesResponse:
      type: object
      required:
        - domain
        - num_ranges
        - ranges
        
      properties:
        domain:
          type: string
          example: 'comcast.net'
          
        num_ranges:
          type: string
          example: '37330'
          
        ranges:
          type: array
          items:
            type: string
            example: '23.24.240.0/29'
        
    DomainsResponse:
      type: object
      required:
        - total
        
      properties:
        ip:
          type: string
          example: '1.1.1.1'
          
        page:
          type: integer
          example: 1
          
        total:
          type: integer
          example: 17939
          
        domains:
          type: array
          items:
            type: string
            example: 'udemy.com'
        
    AbuseResponse:
      type: object
        
      properties:
        address:
          type: string
          example: 'US, CA, Mountain View, 1600 Amphitheatre Parkway, 94043'
          
        country:
          type: string
          example: 'US'
          
        email:
          type: string
          example: 'network-abuse@google.com'
          
        name:
          type: string
          example: 'Abuse'
          
        network:
          type: string
          example: '8.8.8.0/24'
          
        phone:
          type: string
          example: '+1-650-253-0000'
        
    Company:
      type: object
      required:
        - name
        - domain
        - type
        
      properties:
        name:
          type: string
          example: 'Sprint Springfield POP'
          
        domain:
          type: string
          example: 'sprint.com'
          
        type:
          type: string
          example: 'isp'
          enum:
            - isp
            - business
            - education
            - hosting
        
    Carrier:
      type: object
      required:
        - name
        - mcc
        - mnc
        
      properties:
        name:
          type: string
          example: 'Sprint Corporation'
          
        mcc:
          type: string
          example: '310'
          
        mnc:
          type: string
          example: '120'
        
    PrivacyResponse:
      type: object
      required:
        - vpn
        - proxy
        - tor
        - hosting
        - relay
        
      properties:
        vpn:
          type: boolean
          example: true
          
        proxy:
          type: boolean
          example: false
          
        tor:
          type: boolean
          example: false
          
        hosting:
          type: boolean
          example: false

        relay:
          type: boolean
          example: false

        service:
          type: string
          example: ''
          
    Error:
      type: object
      required:
        - error
        
      properties:
        error:
          type: object
          required:
            - title
            - message
            
          properties:
            title:
              type: string
              example: 'Wrong ip'
              
            message:
              type: string
              example: 'Please provide a valid IP address'
    
  requestBodies:
    Batch:
      description: A JSON array containing values.
      required: true
      content:
        application/json:
          schema:
            type: array
            items:
              type: string
    
  parameters:
    Ip:
      name: ip
      in: path
      description: A single IPv4 or IPv6 IP address.
      required: true
      schema:
        type: string
      
    Asn:
      name: asn
      in: path
      description: an ASN number.
      required: true
      schema:
        type: integer
      
    Domain:
      name: domain
      in: path
      description: a domain.
      required: true
      schema:
        type: string
      
    Page:
      name: page
      in: query
      description: The page query parameter can be used to go through paginated records. page starts at 0 and the parameter is part of the response when included in request.
      schema:
        type: integer
        minimum: 0
      
    Limit:
      name: limit
      in: query
      description: The API returns 100 domains per page and has a limit of 1000 domains per page. We return up to 10 million results. The limit parameter can be used to control the number of domains per page.
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 100
      
  responses:
    FullResponse:
      description: Full response object.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FullResponse'
            
    Asn:
      description: ASN response object.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AsnResponse'
            
    Ranges:
      description: Ranges response object.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RangesResponse'
            
    Domains:
      description: Domains response object.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DomainsResponse'
            
    Abuse:
      description: Abuse response object.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AbuseResponse'
            
    Privacy:
      description: Privacy response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PrivacyResponse'
            
    Batch:
      description: Batch response object.
      content:
        application/json:
          schema:
            type: object
            additionalProperties:
              type: object
              
            example:
              8.8.8.8/city: Mountain View
              8.8.8.8:
                ip: 8.8.8.8
                hostname: dns.google
                city: Mountain View
                region: California
                country: US
                loc: 37.4056,-122.0775
                org: AS15169 Google LLC
                postal: 94043
                timezone: America/Los_Angeles
                
      
    Ip:
      description: An ip.
      content:
        text/plain:
          schema:
            type: string
            example: '66.87.125.72'
      
    Hostname:
      description: A hostname.
      content:
        text/plain:
          schema:
            type: string
            example: 'ip-66-87-125-72.spfdma.spcsdns.net'
      
    City:
      description: A city.
      content:
        text/plain:
          schema:
            type: string
            example: 'Springfield'
      
    Region:
      description: A region.
      content:
        text/plain:
          schema:
            type: string
            example: 'Massachusetts'
      
    Country:
      description: A country.
      content:
        text/plain:
          schema:
            type: string
            example: 'US'
            
    Location:
      description: A location.
      content:
        text/plain:
          schema:
            type: string
            example: '42.0999,-72.5783'
            
    Postal:
      description: A postal.
      content:
        text/plain:
          schema:
            type: string
            example: '01105'
            
    Timezone:
      description: A timezone.
      content:
        text/plain:
          schema:
            type: string
            example: 'America/New_York'
            
    Organization:
      description: A organization.
      content:
        text/plain:
          schema:
            type: string
            example: 'AS51501 Khabarovsk home networks Ltd'
    
    TokenNotPassed:
      description: Token not passed. Please pass a valid token to access this module.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    NotFound:
      description: Wrong ip. Please provide a valid IP address.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
            
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      
    BearerAuth:
      type: http
      scheme: bearer
      
    ApiKeyAuth:
      type: apiKey
      in: query
      name: token
